.centar{
    margin-top: 100px;  
  }
  .botonLogin{
    width: 100%; text-align: center; margin: 0% 0% 3% 0;
  }
    @media only screen and (min-width: 500px) {
      .centar{
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 100px;
  
      }
      }